# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# ML/AI Models & Datasets (Cegah file >100MB masuk Git)
*.onnx
*.h5
*.tflite
*.bin
*.pkl
datasets/
runs/
node_modules
